.normal_header {
background-color: #f8f8f8;
border-top: 1px solid #e5e5e5;
padding-top: 17px;
box-shadow: 0 -2px 6px rgba(232, 230, 230, 0.08);
}

.normal_header .div_header {
display: flex;
justify-content: center;
align-items: flex-start;
text-align: start;
gap: 6.5vw;                
padding: 4rem 2rem;
padding-bottom: 197px;
width: 100%;
}

.normal_header h4 {
font-size: 1.4rem;
color: #231f20;
margin-bottom: 0.5rem;
font-family: 'Times New Roman', Times, serif;
}

.normal_header h3 {
color: #231f20;
}

.normal_header p {
color: #231f20;
margin-top: 0.7rem;
line-height: 1.7;
}

.normal_header .nMheader_dvLogo {
width: 197px;
margin-top: 1rem;
margin-left: -.5em;
margin-bottom: 1.3em;
}

.normal_header ul {
line-height: 2.7rem;
}

.normal_header ul li {
font-size: 1rem;
color: #231f20;
cursor: pointer;
transition: color 0.3s ease;
}

.div_header button {
background-color: #231f20;
border: 1px solid #231f20;
padding: .9em 3em;
font-size: .9rem;
margin-top: 1.7em;
cursor: pointer;
position: relative;
overflow: hidden;
border-radius: 2px;
transition: color 0.3s ease, border-color 0.3s ease;
}

.div_header button span {
color: #fff;
}



@media (max-width: 925px) {


.normal_header .div_header {
flex-direction: column;
gap: 2rem;            
padding: 3rem 2rem;
padding-bottom: 157px;
}

.normal_header .nMheader_dvLogo {
width: 157px;
margin: 2rem 0 1rem 0;
}

.normal_header ul {
line-height: 2.8rem;
}

.normal_header ul li {
font-size: 0.85rem;
}

.normal_header ul h3 {
font-size: 1rem;
}

}



@media (min-width: 925px) and (max-width: 1519px) {


.normal_header .div_header {
gap: 2vw; 
padding: 4rem 2.5rem;
padding-bottom: 171px;
}

.normal_header ul li {
font-size: 0.9rem;
}

.normal_header .nMheader_dvLogo {
width: 160px;
}

.normal_header h4 {
font-size: 1.4rem;
}

}
