
.flex_regis_Container {
width: 85%;
margin: auto;
margin-top: 2.7em;
margin-bottom: 7.7em;
justify-content: center;
}

.flex_regis_Container h1 {
margin-bottom: -0.4em;
}

.flex_form input {
width: 277px;
padding: 11px;
padding-left: 21px;
border-radius: 27px;
outline: none;
border: 1px solid #DCDCDC;
}

.flex_form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
width: 100%;
margin-top: 1em;
text-align: start;
}

.flex_form div {
line-height: .2em;
}

.register_form button {
width: 22%;
padding: 14px;
border-radius: 27px;
margin-top: 2.7em;
border: none;
cursor: pointer;
color: #FFFFFF;
background-color: #000000;
}

.register_form h1,
h3,
span {
font-weight: normal;
}

.register_form h1 {
font-size: 1.2rem;
margin-bottom: .5em;
color: #000000;
}

.register_form h3 {
font-size: .9rem;
margin-top: 1.1em;
margin-bottom: 1.1em;
color: #000000;
}

.register_form span {
color: #4169E1;
margin-left: 0.5em;
cursor: pointer;
}



@media (max-width: 768px) {

.flex_regis_Container {
text-align: center;
width: 100vw;
}

.flex_form {
gap: 0.5em;
}

.flex_form input {
width: 100%;
}

.flex_regis_Container h1 {
font-size: 1.1rem;
}

.flex_regis_Container h3 {
font-size: 0.9rem;
}

.register_form button {
width: 65%;
}

}


@media (min-width: 768px) and (max-width : 1350px) {

.register_form button {
width: 45%;
}

}
