
.about_flex_ {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
gap: 5.7vw;
margin-top: 2.3em;
line-height: 2.4em;
}

.about_firstSection{
text-align: start;
}

.about_flex_tw p {
width: 65%;
margin: auto;
font-size: .9rem;
line-height: 2.3em;
margin-bottom: 4.7em;
text-align: center;
color: #747373;
}

.about_flex_tw h2{
margin-top: .5em;
margin-bottom: 1em;
color: #231f20;
}

.about_flex_tw h3 {
padding: 11px;
line-height: 1.3em;
margin-bottom: .4em;
margin-top: 1.7em;
color: #1A0A0ACF;
}



@media (max-width: 1024px) {

.about_flex_tw p {
width: 85%;
}

.about_flex_tw h3 {
margin-top: .7em;
margin-bottom: -.1em;
line-height: 2.1em;
}

.about_flex_tw h2 {
margin-bottom: .7em;
}

.header-ad {
margin-top: 8.7em;
}

}



@media (min-width: 1025px) and (max-width: 1500px) {

.about_flex_ .about_firstSection h2 {
text-align: start;
}

.about_flex_tw h3 {
margin-top: .5em;
margin-bottom: .3em;
}

}