
.slider-container_Commitment{
width: 98%;
margin: auto;
padding: 20px 0;
margin-top: 5.7em;
}

.slide-content_Commite{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.slide-image_Commite{
width: 100%;
height: auto;
object-fit: cover;
cursor: pointer;
transition: transform 0.3s ease;
}

.swiper-wrapper{
transition-timing-function: linear !important;
}

.slider-container_Commitment h1 {
color: #000;
margin-bottom: 1.1em;
font-family: 'Times New Roman', Times, serif;
}



@media (max-width:768px) {

.slider-container_Commitment{
padding: 10px 0;
}

.slider-container_Commitment h1 {
font-size: 1.6rem;
}

}