
.form_contact{
display:grid;
grid-template-columns: 1fr 1fr;
width:85vw;
margin:4em auto;
background:#fff;
border-radius:14px;
overflow:hidden;
}

.form_div{
padding:3em 3.5em;
display:flex;
flex-direction:column;
}

.form_contact h1{
font-size:2rem;
margin-bottom:.3em;
color:#111;
text-align: start;
}

.form_div p{
color:#777;
font-size:.9rem;
margin-bottom:2em;
}

.form_contact input,
.form_contact textarea{
width:85%;
border:none;
border-bottom:1px solid #ddd;
padding:12px 0;
margin-top:20px;
font-size:.95rem;
outline:none;
transition:.3s;
}

.form_contact input:focus,
.form_contact textarea:focus{
border-bottom:1px solid #000;
}

.form_contact textarea{
min-height:120px;
resize:none;
}

.form_contact button{
margin-top:30px;
padding:17px;
border:none;
background:#0f172a;
color: #fff;;
border-radius:8px;
font-size:.95rem;
cursor:pointer;
transition:.3s;
}

.form_contact button:hover{
background:#020617;
transform:translateY(-2px);
}

.form_contact div:first-child{
position:relative;
}

.form_contact img{
width:100%;
height:100%;
object-fit:cover;
}

.form_contact div:first-child::before{
content:"";
position:absolute;
inset:0;
background:linear-gradient(
180deg,
rgba(30,64,175,0.3),
rgba(2,6,23,0.8)
);
}

.form_contact div:first-child::after{

content:"Inspired by the timeless streets of London, our collection blends classic British elegance with modern fashion. Every piece is designed to reflect confidence, individuality, and effortless style. From everyday essentials to statement outfits, we focus on quality fabrics, refined details, and contemporary designs that suit every occasion.";
position:absolute;
bottom:40px;
left:40px;
color:#fff;
font-size:1.3rem;
width:75%;
line-height:1.5;
}

.success_message{
margin-top:15px;
color:green;
}


@media(max-width:1024px){

.form_contact{
grid-template-columns:1fr;
}
.form_contact img{
height:320px;
}
.form_div{
padding:2em;
}

}