
.ListBanner {
width: 100%;
}

.header_Filter {
width: 100%;
}

#sticky_products_height {
height: auto;
position: relative;
margin-top: -61.6em;
}

.sticky-wrapper {
position: sticky;
top: 121px;
}

.flex_productlist {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(307px, 307px));
justify-content: center;
width: 100%;
max-width: 1400px;
margin: 0 auto;
gap: 0em;
}

.flex_productlist .produclist_divContainer {
position: relative;
max-width: 267px;
height: 387px;
/* height: auto; */
margin-bottom: 8.7em;
}

.flex_productlist .produclist_divContainer img {
width: 100%;
height: 100%;
object-fit: cover;
padding: 7px;
/* margin-bottom: -0.5em; */
}

.flex_productlist .padding_contain {
width: 100%;
padding: 13px;
margin: -.5em 0em 0.3em 0em;
}

.padding_contain #Review_Img {
width: 31px;
margin-top: -.4em;
}

.flex_productlist .padding_contain .sizeClr {
color:#808080;
margin-top: 0.4em;
}

.flex_inr {
text-align: start;
}

.flex_inr li {
font-size: 0.9rem;
line-height: 2.5em;
color: #333;
text-align: start;
}

.flex_inr a {
text-align: start;
display: block;
}

.flex_inr .price_div {
display: flex;
justify-content: flex-start;
align-items: center;
margin: 0.6em 0 0;
padding: 2px 10px;
padding-left: 13px;
padding-right: 6px;
margin-top: .7em;
gap: 0.3em;
width: auto;
max-width: 79px;
height: 34px;
height: auto;
flex-wrap: wrap;
color: #000000;
border-radius: 17px;
}

.fa-heart_products {
position: absolute;
right: 0px;
z-index: 999;
padding: 11px;
font-size: 1.2rem;
margin-right: 1.3em;
margin-top: .7em;
color: #DCDCDC;
transition: background-color 0.3s ease;
cursor: pointer;
}

.fa-heart_products.wishlist-active {
color: #EF9FC9 !important;
background-color: transparent !important;
}


@media (max-width: 768px) {

.padding_contain li {
font-size: 0.9rem;
}

.padding_contain .fa_Price {
font-size: 0.8rem;
}

.header_Filter {
width: 100%;
margin: 0em 0em 0em 0em;
}

.flex_inr li {
line-height: 2.3em;
}

.flex_productlist {
display: grid;
max-width: 97%;
transform: translateX(1.2vw);
margin-left: 0vw;
margin-top: 2.7em;
grid-template-columns: repeat(2, 1fr);
}

.flex_productlist .produclist_divContainer {
max-width: 100%;
width: 100%;
box-sizing: border-box;
}

.flex_productlist .padding_contain {
width: 100%;
padding: 0;
margin-top: .5em;
}

.flex_productlist .produclist_divContainer img {
width: 100%;
padding: 2px;
}

.flex_productlist {
gap: 0em;
}

.fa-heart_products {
padding: 0px;
font-size: 1.1rem;
margin-right: .7em;
margin-top: .7em;
}

.padding_contain #Review_Img {
width: 21px;
margin-right: .2em;
margin-top: -.4em;
}

}


@media (min-width: 769px) and (max-width: 1036px) {

.header_Filter {
width: 98%;
margin: 0em 0em 0em 0em;
}

.flex_productlist {
display: grid;
max-width: 95%;
transform: translateX(2.3vw);
margin-left: 0;
margin-top: 7.7em;
grid-template-columns: repeat(3, 1fr);
}

.flex_productlist .padding_contain {
width: 100%;
padding: 0;
}

.flex_productlist .produclist_divContainer {
max-width: 100%;
}

}



@media (min-width: 1037px) and (max-width: 1519px) {

.header_Filter {
width: 100%;
margin: 0em 0em 0em 0em;
}

.flex_productlist {
position: relative;
display: grid;
max-width: 95vw;
margin-top: 7.3em;
grid-template-columns: repeat(auto-fit, minmax(23.7vw, 0fr));
}

.flex_productlist .produclist_divContainer {
position: relative;
height: auto;
margin-bottom: 2.1em;
}

.header_Filter {
width: 67%;
margin: 0em 0em 0em 333px;
}

#sticky_products_height {
height: auto;
margin-bottom: 13.7em;
}

}
